*{
    margin: 0px;
    
    
    
}
.navbar{
    background-color: hsl(180, 98%, 31%);
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: +1;
   
    
}
.navbar-list{
    overflow: auto;
    padding: 10px 50px 50px 50px;
    
}
.logo{
    float:left;
    list-style: none;
    padding: 5px 5px;
    font-size:125%;
    font-size: 1.2rem;
    
}
.sidelinks{
    float:right;
    list-style: none;
    font-size:125%;
    font-weight: bold;
    padding: 20px 20px 20px 20px;

    

    
}
.sublink :hover
{
 background-color: antiquewhite
;
 color:hsl(180, 98%, 31%);
 border-radius: 5px;
}

.navbar a{
    text-decoration: none;
    color: antiquewhite
;
    

}
.imgsrc
{
    width: 30px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  
}
body
{
    background-color: antiquewhite;
}



.grid {
  display: grid;
  
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  margin: 10px;
  font-family: "Ubuntu",sans-serif;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  margin: 3rem;
  height: 70p;
}

.grid-item:hover {
    background-color: hsl(180, 98%, 31%);
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}
.card-points
{
    font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
  list-style: none;

}


@media only screen and (max-width: 60em) {
  

  .grid {
    display: block;
    height: 3rem;
    
  }
  
  
  
}
body{
  animation: transitionIn 1s;
}

@keyframes transitionIn{
  from{
      opacity: 0;
      transform: rotateY('-10');
  }
  to{
      opacity: 1;
      transform: rotateY('0');

  }
}
@media (max-width:894px) {
  .sidelinks
  {
      float: none;
  }
  .bar{
    height: 7px;
    width: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: end;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    
  }
  #bar1{
    transform: translateY(-4px);
  }
  #bar3{
    transform: translateY(4px);
  }
  .sublink{
    float: none;
    z-index: 1000;
    display: none;
  }
  .navigation
  {
    margin-left: 100%;
    margin-top: 10px;
  }
  .navbar
  {
    height: 5rem;
  }
  .moblink
    {
        display: block;
    }
    .mobbar
    {
        height: 30rem;
    }
    
}
.footer
{
  background-color: hsl(180, 98%, 31%);
  font-family: 'Ubuntu', sans-serif;
  height: auto;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 5rem;
  color: antiquewhite;

}
.footerleft{
  display:inline-flex;
  margin-right: 50%;
  
}
.footerright{
  display: inline-flex;
}
a{
  text-decoration: none;
}
.footerlist{
  list-style: none;
  color: antiquewhite;
  margin: 10px;
}